*{

    border: 0px;
    margin: 0px;
    padding: 0px;
}

#survey{

    display: flexbox;
    align-items: center;
    align-content: center;
    background-color: rgb(161, 80, 80);
    text-align: center;
     color: white;
     font-size: larger;
     padding: 20px;

     
}

.btn{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1 ;
}